.about-page-container {
    margin-top: 74px;
    padding: 50px;
}

.about-header {
    margin-top: 20px;
}

.goal-text {
    text-align: start;
    width: 100%;
}

.about-row {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-between;
}

.team-img {
    object-fit: cover;
    height: 300px;
}

.tool-grid {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    /* column-gap: 4%; */
    row-gap: 4%;
    justify-content: space-between;
    /* height: auto; */
    padding-bottom: 30px;
}

.tool-card {
    padding: 10px;
    /* width: 300px;
    height: auto; */
}

.tool-card-img {
    height: 200px;
    border-radius: 20px;
    /* width: 300px; */
    object-fit: contain;
}

.tools-container {
    margin-bottom: 30px;
}