.container {
    padding-top: 10%;
    display: flex;
    align-items: flex-start;
  }
  
  .desc-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .media {
    flex: 1;
    flex-direction: column;
  }
  
  .media img,
  .media iframe {
    width: 100%;
    max-width: 800px;
  }
  
  .media iframe {
    margin-top: 20px;
    max-height: 400px;
  }

  .button {
    top:83%;
    left:10%;
    width:160px;
    height:80px;
    position: absolute;
  }

  .button2 {
    top:83%;
    left:30%;
    width:160px;
    height:80px;
    position: absolute;
  }

.instance-img {
  width:500px;
  height:500px;
  object-fit: contain;
}
  