.instance-container {
    margin-bottom: 100px;
    padding: 10% 5%;
}

.instance-img {
    width:auto;
    height:500px;
    object-fit: contain;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.instance-header {
    text-align: center;
}