.model-page-container {
    margin-top: 74px;
    padding: 50px;
}

.model-card-title {
    text-align: center;
    justify-content: center;
    padding: 20px;  
}

.model-text {
    text-align: center;
    top: 60px;
    margin-left: 32.5%;
    padding: 10px;
    width: 35%;
    transition: 300ms;
}

.model-card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.model-card-row {
    display: grid;
    column-gap: 20px;
    align-self: center;
    align-items: center;
    align-content: center;
    padding: 2%;
    row-gap: 20px;
    justify-content: space-between;
}

.model-card {
    /* background-color: #98c1d9; */
    /* margin-left: 23px; */
    /* margin-top: 160px; */
    /* width: 90%; */
    /* height: 80%; */
    height: 700px;
}

.model-footer{
    /* background-color: gray; */
    text-align: center;
    position:absolute;
    bottom: 0;
    left: 0; 
    /* width:90%; */
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0 2%;
}

.search-area {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    row-gap: 10px;
}

.dropdowns {
    justify-content: center;
}

.model-loading {
    text-align: center;
    margin-top: 100px;
}
