.nav-item {
    position: relative;
    margin: 0px 30px;
    transition: 300ms;
}

.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.2s ease-out;
}

.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.navbar-brand {
    font-size: xx-large;
}