
.overlay-text {
    text-align: start;
    position: absolute;
    top: 160px;
    margin-left: 5%;
    padding: 10px;
    width: 35%;
    transition: 300ms;
}

@media (max-width: 1060px) {
    .overlay-text {
        top: 80px;
        margin-left: 5%;
        padding: 10px;
        transition: 300ms;
        opacity: 0.95;
        width: 35%;
    }
}

.desc-text {
    opacity: 1;
}

@media (max-width: 700px) {
    .overlay-text {
        transition: 300ms;
        opacity: 0.95;
        width: 50%;
        background-color: white;
        border-radius: 10px;
    }
}

.splash-img {
    margin-top: 58px;
    width: 100%;
    object-fit: cover;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    column-gap: 2%;
    align-items: center;
    align-content: center;
    padding: 2%;
}

.splash-card {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.header-text {
    margin: 0 5% 30px 5%;
}

.video-container {
    /* aspect-ratio: 640/390;    */
    width: 100%;
    /* --width: 100 */
    /* height: calc(50vw * 39/64); */
    align-items: center;
    justify-content: center;
    padding: 0 5% 30px 5%;
}